@font-face {
    font-family: 'Montserrat';
    src: url('./assets/font/Montserrat-VariableFont_wght.ttf');
}
:root{
    --linearGradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
    --veryLightGrayishBlue: hsl(240, 78%, 98%);
    --lightGrayishBlue: hsl(234, 14%, 74%);
    --grayishBlue: hsl(233, 13%, 49%);
    --darkGrayishBlue: hsl(232, 13%, 33%);
    --fontSize:  0.9375;
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat',sans-serif;
    font-size: var(--fontSize);
}
button{
    cursor: pointer;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }